@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap');

/*
  Hello Keith, this will be where you put your styles
  
  Things to note:

  :root is where variables are put with their own respective values (like color, font-style, etc.)
  :root also contains your default styles for the webpage such as font size and font family

  A CSS Variable are those with two dashes (--) before the name. Ex: --color-header
  CSS Variable Declaration:    --varname: value;
  You can also call these variables by using var(var-name) such as var(--color-header)
  For more information of CSS Variables, refer to the some styles below

  Sometimes, it is best to work with a system as you do not have to micro-edit styles. By micro-edit, 
  I mean an experience like changing padding from 10px to 9px, then changing it again to 8px. That takes
  a lot of time. Rather, you have presets to choose from so that styling does not take time as you only have
  limited options. The presets are the variables in :root down below. You can add variables if you want.

  If you don't want to use it, or you want to start your styling from scratch, it's ok, just remove the :root.

  Goodluck! :>  -Jave
  */

:root {
  /* colors */
  --color-header: rgb(23, 23, 23);
  --color-body: rgb(255, 255, 255);
  --color-primary: rgb(46, 64, 44);
  --color-secondary: rgb(73, 76, 107); 
  --border-color-1: rgb(227, 228, 241);

  /* font-size */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-30: 30px;
  --fs-36: 36px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-72: 72px;

  /* font-weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-extra-bold: 800;

  /* font-family */
  --ff-heading:  'Albert Sans', Helvetica, sans-serif;
  --ff-body:    'League Spartan', Arial, sans-serif;

  /* horizontal padding */
  --pad-x-xsmall: 8px;
  --pad-x-small: 12px;
  --pad-x-default: 16px;
  --pad-x-large: 25px;
  --pad-x-xlarge: 40px;
  --pad-x-xxlarge: 64px;
  
  /* vertcal padding */
  --pad-y-xsmall: 4px;
  --pad-y-small: 6px;
  --pad-y-default: 8px;  
  --pad-y-large: 13px;
  --pad-y-xlarge: 20px;
  --pad-y-xxlarge: 32px;

  /* margin */
  --mar-xsmall: 7px;
  --mar-small: 10px;
  --mar-default: 16px;  
  --mar-large: 25px;
  --mar-xlarge: 40px;
  --mar-xxlarge: 60px;
  --mar-section-separation-default: 100px;
  --mar-section-separation-large: 150px;

  /* default html styles*/
  font-size: var(--fs-14);
  font-family: var(--ff-body);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* reset

  A reset is just there to remove all default behavior from all elements.
  In this case, removing default margin and padding spaces.

  "box-sizing: border-box;" is more interesing 
  Basically, by default, box-sizing is set to content-box. May be important
  to know about this.

  It means that if you set a width/height of an element, the dimension of the elements, 
  its padding dimension, and border dimensions must be enclosed in that width/height. Refer 
  to mozilla docs :>

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*  PAGE STYLES  */
body {
   background-color: var(--bg-color); 
   background-image: url("/static/images/sumeru.jpg");
   background-attachment: fixed;
   background-size: cover;
   color: white;
   z-index: 0;
   position: relative;

}

/* body > * {
  margin: 50px;
} */

img[src="/static/images/sumeru.jpg"] {
  width: 500px;
}

table {
    border-collapse: collapse;
}

td {
    position: relative;
    padding: 5px 10px;
}

tr.completed {
  color: gray;
}
tr.completed td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    border-bottom: 1px solid gray;
    width: 100%;
}


/* Example styles (uncomment or remove if you want) */
header {
  width: 100%;
  height: 35vh;
  display: flex;
  background-color: var(--color-header);
  position: absolute;
}
header hgroup {
  width: 600px;
  margin-left: 25%;
}
header h1 {
  margin-top: var(--mar-xxlarge);
  font-size: var(--fs-36);
  font-family: var(--ff-heading);
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  color: white;
}
header h2 {
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
  letter-spacing: 0.5px;
  color: #ABABAB;
}


.todo-container {

  padding: var(--pad-x-xlarge) ;
  background-color: white;
  color: #2e3f2c;
  width: 50%;
  box-shadow: 0 0 5px 0 white; 
  height: 600px;
  position: absolute;
  left: 25%;
  top: 20%;
  .todo-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-20);
    margin-bottom: var(--mar-xlarge);
    select {
      padding-left: 0.2em;
      font-size: var(--fs-18);
      color: #2e3f2c;
      font-family: var(--ff-body);
      height: 2em;
      width: 40%;
    }
    button {
      padding: 0.5em;
      width: 100%;
      background-color: #2e3f2c;
      color: white;
      font-size: var(--fs-16);
      font-family: var(--ff-body);
      width: 10em;
    }
  }
  table {
    border: pink 1px solid;
    width: 100%;
    th{
      border: purple 1px solid;
      color: #676b75 ;
      width: 10em;
    }
  }

}

.edit-task-modal-container, .add-task-modal-container {
  padding: var(--pad-x-large) ;
  background-color: white;
  color: #2e3f2c;
  width: 30%;
  box-shadow: 0 0 5px 0 white; 

  .modal-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-20);
  }
  .input-fields{
    padding: var(--pad-x-default) ;
    label {
      font-size: var(--fs-14);
      color: #676b75 ;
      font-family: var(--ff-body);
    }
    select, input {
      padding-left: 0.2em;
      font-size: var(--fs-18);
      color: #2e3f2c;
      font-family: var(--ff-body);
      height: 1.5em;
    }
    .form-element {
      display: flex;
      flex-direction: column;
      vertical-align: auto;
    }
    .lower-input-fields {
      display: flex;
      justify-content: space-between;
      margin-top: var(--mar-small);

    }
    .edit-task-btn, .add-task-btn {
      margin-top: var(--mar-large);
      padding: 0.5em;
      width: 100%;
      background-color: #2e3f2c;
      color: white;
      font-size: var(--fs-16);
      font-family: var(--ff-body);
    }
  }
  .priority-field {
    width: 11em;
  }
}

.delete-task-modal-container {
  padding: var(--pad-x-large) ;
  background-color: white;
  color: #2e3f2c;
  width: 20%;
  box-shadow: 0 0 5px 0 white; 
  .modal-header {
    font-size: var(--fs-20);
    margin-bottom: var(--mar-small);
  }
  .modal-body {
    font-size: var(--fs-16);
  }
  .modal-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--mar-small);
  }
  button {
    padding: 0.5em;
    width: 100%;
    font-size: var(--fs-16);
    font-family: var(--ff-body);
  }
  .delete-task-btn{
    background-color: #2e3f2c;
    color: white;
  }
  .cancel-btn-container{
    margin-left: var(--mar-small);
  }
  .cancel-button{
    color: 2e3f2c;
    
  }
}
.toast-container {
  padding: var(--pad-x-large) ;
  background-color: white;
  color: #2e3f2c;
  width: 30%;
  box-shadow: 0 0 5px 0 white; 
  font-size: var(--fs-16);
  .toast-header {
    display: flex;
    justify-content: space-between;
    font-size: var(--fs-20);
    margin-bottom: var(--mar-small);
  }
  .toast-btn {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--mar-small);

      button{
        padding: 0.5em;
        width: 100%;
        font-size: var(--fs-16);
        font-family: var(--ff-body);
        background-color: #2e3f2c;
        color: white;
      }
  }
}